.team-detail {
  display: flex;
  justify-content: space-between; /* Distribuye los paneles a lo largo del contenedor */
  padding: 20px;
  align-items: center; /* Centra verticalmente los elementos */
  text-align: left; /* Alinea el texto a la izquierda */
}

.left-panel {
  flex: 1; /* Ocupa 1 parte del espacio disponible */
  margin-right: 20px; /* Espacio entre los paneles */
}

.center-panel {
  flex: 1; /* Ocupa 1 parte del espacio disponible */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
}

.team-name {
  margin-bottom: 10px;
  display: flex;
  align-items: center; /* Centra verticalmente los elementos dentro de .team-name */
}

.team-logo {
  width: 50px; /* Ajusta el tamaño del logo según sea necesario */
  height: 50px; /* Ajusta el tamaño del logo según sea necesario */
  margin-right: 10px; /* Espacio entre el logo y el texto */
}

.team-info-location {
  margin-bottom: 10px;
}

.arena-info {
  margin-bottom: 10px;
  text-align: left;
  margin-left: 17%;
}

.team-arena {
  text-align: center; /* Centra la imagen horizontalmente */
  margin-top: 5%;
}

.team-arena img{
  width:65%
}

.championships-info {
  text-align: center; /* Centra el texto y la imagen horizontalmente */
  margin-top: 20px;
}

.championships-info img {
  max-width: 200px; /* Ajusta el tamaño máximo de la imagen del trofeo */
  height: auto;
  margin-top: 10px; /* Espacio arriba de la imagen del trofeo */
}


.arena-name{
  font-weight: bold; /* Negrita */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}