  .team-detail .team-info {
    flex: 1; /* Ocupa el espacio restante */
    margin-right: 20px; /* Margen a la derecha del texto */
  }

  .team-detail {
    display: flex; /* Utilizamos flexbox para organizar los elementos */
    align-items: flex-start; /* Alinea verticalmente los elementos al inicio */
    padding: 20px;
  }

  .team-detail img {
    max-width: 750px; /* Ajusta el tamaño máximo de la imagen */
    height: auto;
    margin-top: 7%; /* Margen arriba */
    margin-left: auto; /* Mueve la imagen hacia la derecha */
    margin-right: 7%; /* Margen a la derecha */
  }
  
  
  .team-detail p {
    margin-bottom: 5px;
  }
  