.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: #f58634;
  padding: 20px 20px;
  color: black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center; /* Cambiado a 'center' para centrar la imagen */
}

main {
  flex: 1;
  margin-top: 100px;
  padding: 20px;
}

.App-footer {
  background-color: #f58634;
  padding: 10px;
  color: black;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.header-image {
  max-width: 200px;
  height: auto;
}

.navigation {
  margin-top: 20px;
}

.navigation button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #f58634;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.navigation button a {
  color: white;
  text-decoration: none;
}

.navigation button:hover {
  background-color: #e67e22;
}
